/*tabs*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-bottom: 0;
}

.tab button {
    float: left;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: black;
}

.tab button.active {
    text-decoration: underline;
}

.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}

.open {
    background: #cc1111;
    color: #cc1111;
}

.pending {
    background: orange;
    color: orange;
}

.closed {
    background: greenyellow;
    color: greenyellow;
}

/*tab content*/
.list {
    display: grid;
    grid-template-columns: 1fr;
}

.line {
    padding: 0 0 0 5px;
    border: 1px solid #ccc;
    min-height: 30px;
    display: inline;
    cursor: pointer;
}

.line:hover {
    background-color: #ccc;
}

.title {
    text-align: center;
    background-color: #ddd;
}

.title h1 {
    padding: 5px 0;
    margin: 0;
    color: black;
}

.description {
    border: 1px solid #ccc;
    padding: 20px;
}

#status {
    background-color: transparent !important;
}

.move-form {
    text-align: center;
    text-transform: uppercase;
}

.move-form button {
    color: black !important;
}