{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="{% static "js/utils.js" %}"></script>

    <title>Issue Tracker</title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>

{% block extrascripts %}
{% endblock %}