{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'list' %}">Back</a>
    <div class="title">
        <h1 id="title"></h1>
    </div>

    <div class="description">
        <p id="description"></p>
    </div>

    <div class="status">
        <p id="status">Status: </p>
    </div>

    <div class="move-form">
        <form method="post">
            <input id="next-state" name="next-state" type="hidden">
            <button id="move" type="submit">MOVE ISSUE TO</button>
        </form>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        var states = ["open", "pending", "closed"];
        var issue = {{ issue|safe }}[0].fields;
        var val;
        var title_el = document.getElementById("title");
        var status_el = document.getElementById("status");
        var button_el = document.getElementById("move");

        val = document.createTextNode(issue.title);
        title_el.appendChild(val);

        val = document.createTextNode(issue.description);
        document.getElementById("description").appendChild(val);

        title_el.className += states[issue.state];
        status_el.className += states[issue.state];
        status_el.innerText += states[issue.state];

        if (issue.state < 2) {
            document.getElementById("next-state").value = issue.state + 1;
            button_el.innerText += " " + states[issue.state + 1].toUpperCase();
            button_el.className += states[issue.state + 1];
        } else
            document.getElementById("move").remove();


    </script>
{% endblock %}
