{% extends 'base.html' %}

{% block content %}
    <div class="tab">
        <button id="open" class="tablinks open" onclick="changeTab(event)">Open</button>
        <button id="pending" class="tablinks pending" onclick="changeTab(event)">Pending</button>
        <button id="closed" class="tablinks closed" onclick="changeTab(event)">Closed</button>
    </div>

    <div id="tab_open" class="tabcontent">
        <div class="list"></div>
    </div>

    <div id="tab_pending" class="tabcontent">
        <div class="list"></div>
    </div>

    <div id="tab_closed" class="tabcontent">
        <div class="list"></div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        var openTab = document.getElementById("tab_open");
        var pendingTab = document.getElementById("tab_pending");
        var closedTab = document.getElementById("tab_closed");

        var openTickets ={{ open_issues|safe }};
        var pendingTickets ={{ pending_issues|safe }};
        var closedTickets ={{ closed_issues|safe }};

        populateList(openTab, openTickets);
        populateList(pendingTab, pendingTickets);
        populateList(closedTab, closedTickets);
        document.getElementById("open").click();


    </script>
{% endblock %}
